<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_ShippingBar
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\ShippingBar\Api\Data\ProfileInterface" type="Amasty\ShippingBar\Model\Profile" />
    <preference for="Amasty\ShippingBar\Api\ProfileRepositoryInterface" type="Amasty\ShippingBar\Model\Repository\ProfileRepository" />
    <preference for="Amasty\ShippingBar\Api\BarManagementInterface" type="Amasty\ShippingBar\Model\BarManagement" />

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin sortOrder="1" name="amastyShippingBarCart" type="Amasty\ShippingBar\Plugin\CustomerData\CartPlugin"/>
    </type>
</config>
