<?xml version="1.0"?>
<!--
/**
 * @category   Webkul
 * @package    Webkul_MultiEbayStoreMageConnect
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="multiebaystoremageconnect" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Multi-eBay Magento Connect</label>
            <tab>webkul</tab>
            <resource>Webkul_MultiEbayStoreMageConnect::config_multiebaystoremageconnect</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="glob_site" translate="label comment" sortOrder="2" type="select" showInDefault="1" >
                    <label>Global Sites</label>
                    <source_model>Webkul\MultiEbayStoreMageConnect\Model\Config\Source\EbayGlobalSitesList</source_model>
                </field>
                <field id="ebay_user_id" translate="label comment" sortOrder="3" type="text" showInDefault="1" >
                    <label>eBay User Id</label>
                    <validate>required-entry</validate>
                </field>
                <field id="ebay_user_token" translate="label comment" sortOrder="4" type="obscure" showInDefault="1" >
                    <label>eBay Authentication Token</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="ebay_dev_id" translate="label comment" sortOrder="5" type="obscure" showInDefault="1" >
                    <label>eBay Developer Token</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="ebay_application_id" translate="label comment" sortOrder="6" type="obscure" showInDefault="1" >
                    <label>eBay Application Id</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="ebay_certification_id" translate="label comment" sortOrder="7" type="obscure" showInDefault="1" >
                    <label>eBay Certification Id</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="mode" translate="label comment" sortOrder="8" type="select" showInDefault="1" >
                    <label>Mode</label>
                    <source_model>Webkul\MultiEbayStoreMageConnect\Model\Config\Source\Mode</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="app_ru_name" translate="label comment" sortOrder="9" type="text" showInDefault="1" >
                    <label>Application RuName</label>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="ebay_event" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Platform Event Notification</label>
                <field id="notification_status" translate="label comment" sortOrder="99" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscribe eBay Events</label>
                    <source_model>Webkul\MultiEbayStoreMageConnect\Model\Config\Source\EbayEvents</source_model>
                    <comment>Real time sync from eBay to magento.</comment>
                </field>
                <field id="sold_item_action" translate="label comment" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sold Item Action</label>
                    <source_model>Webkul\MultiEbayStoreMageConnect\Model\Config\Source\SoldItemAction</source_model>
                    <comment>Opted option will be perform at magento, when an item sold at eBay.</comment>
                </field>
            </group>
            <group id="categoty_options" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Import eBay Categories</label>
                <field id="listbutton" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Webkul\MultiEbayStoreMageConnect\Block\System\Config\Form\GetEbayCategories</frontend_model>
                </field>
            </group>
            <group id="import_status" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Import Configurations</label>
                <field id="product_import_enable" translate="label comment" type="select" sortOrder="7" showInDefault="1" >
                    <label>Product Import Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Product Import Enable/Disable</comment>
                </field>
                <field id="order_import_enable" translate="label comment" type="select" sortOrder="7" showInDefault="1" >
                    <label>Order Import Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Order Import Enable/Disable</comment>
                </field>
            </group>
        </section>
    </system>
</config>
